@model CardGame.Web.Models.PacksListViewModel
@{
    ViewBag.Title = "PackOverview";
}


<div  class="container fullcontainer">
    <div class="col-lg-1 categorylinks">
        <h3 id="lefthead">Card Shop</h3>
        <div>
            <a  href="/CardPack/DisableCurrency" class="btn btn-default buttonleftnav">Buy Cardpacks</a>
            <a  href="/CardPack/EnableCurrency" class="btn btn-default buttonleftnav">Buy Gold </a>
        </div>
    </div>
 
    <div class="col-md-9  mainright-pack">
        @foreach (var pack in Model.Packs)
        {
            <ul id="packCards">
                <li class="col">
                    <h2 id="cph2">@Html.DisplayFor(c => pack.PackName)</h2>
                    @if (pack.IsMoney != true)
                    {
                        <img id="cardpic" src="~/Content/images/Cardpacks/1.png" alt="Card-Picture" />
                    }
                    else
                    {
                        <img id="cardpic" src="~/Content/images/Cardpacks/coins.png" alt="Coin-Picture" />
                    }

                    <p id="discription">@Html.DisplayFor(c => pack.Flavor) </p>
                    <p class="price">@Html.DisplayFor(c => pack.PackPrice)</p>
                    <p id="details">@Html.ActionLink("Details", "Details", new { id = pack.IdPack })</p>
                </li>
            </ul>
        }
        <div class="pagelinks col-md-9">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("PackOverview", new { page = x }))
        </div>
    </div>

</div>



@*  @foreach (var pack in Model.Packs)
            {

        <tr>
            <td class="Overviewtd">
                @Html.DisplayFor(c => pack.IdPack)
           </td>
    <td >
        if (pack.Pic == null)
         {<img class="CardPackPic" src="~/Content/images/Cardpacks/1.png" /> }
         else
         {
             var base64 = Convert.ToBase64String(pack.Pic);
             var imgSrc = String.Format("data:image/png;base64,{0}", base64);
             <img src="@imgSrc" id="OverViewPic" />
         }
     </td>*@


