@model CardGame.Web.Models.PacksListViewModel
@{
    ViewBag.Title = "PackOverview";
}

<h2>CardPackView</h2>

<div>
    <a href="/CardPack/DisableCurrency" class="btn btn-warning form-control">DisableCurrency</a>
    <a href="/CardPack/EnableCurrency" class="btn btn-success form-control">EnableCurrency</a>
</div>



<table>

    <tr>
        <th class="Overviewth">
            <h4>Number</h4>
        </th>
        <th>
            <h4 class="Overviewth">Picture</h4>
        </th>

        <th>
            <h4 class="Overviewth">Name</h4>
        </th>
        <th>
            <h4 class="Overviewth">Flavour</h4>
        </th>
        <th>
            <h4 class="Overviewth">Price</h4>
        </th>
        <th>
            <h4 class="Overviewth"> Details</h4>
        </th>
    </tr>

    @foreach (var pack in Model.Packs)
            {

        <tr>
            <td class="Overviewtd">
                @Html.DisplayFor(c => pack.IdPack)
            </td>
            <td class="Overviewtd">
                @if (pack.Pic != null)
                {
                    var base64 = Convert.ToBase64String(pack.Pic);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                    <img src="@imgSrc" id="OverViewPic" />
                }
                else
                {
                    @Html.DisplayText("no Picture found")
                }
            </td>

            <td class="Overviewtd">
                @Html.DisplayFor(c => pack.PackName)
            </td>
            <td class="Overviewtd">
                @Html.DisplayFor(c => pack.Flavor)
            </td>
            <td class="Overviewtd">
                @Html.DisplayFor(c => pack.PackPrice)
            </td>

            <td class="Overviewtd">
                @Html.ActionLink("Details", "Details", new { id = pack.IdPack })
            </td>

        </tr>
    }

</table>
<div class="PageLinks">

    @Html.PageLinks(Model.PagingInfo, x => Url.Action("PackOverview", new { page = x }))
</div>