@model CardGame.Web.Models.PacksListViewModel
@{
    ViewBag.Title = "PackOverview";
}


<div  class="container fullcontainer">
    <div class="col-lg-1 categorylinks">
        <h3 id="lefthead">Card Shop</h3>
        <div>
            <a  href="/CardPack/DisableCurrency" class="btn btn-default buttonleftnav">Buy Cardpacks</a>
            <a  href="/CardPack/EnableCurrency" class="btn btn-default buttonleftnav">Buy Gold </a>
        </div>
    </div>
 
    <div class="col-md-9  mainright-pack">
        @foreach (var pack in Model.Packs)
        {
            <ul id="packCards">
                <li class="col">
                    <h4 id="cph2">@Html.DisplayFor(c => pack.PackName)</h4>
                    @if (pack.IsMoney != true)
                    {
                        <img id="cardpic" src="~/Content/images/Cardpacks/1.png" alt="Card-Picture"  />
                    }
                    else
                    {
                        <img id="cardpic" src="~/Content/images/Cardpacks/coins.png" alt="Coin-Picture" />
                    }

                    <h6 id="discription">@Html.DisplayFor(c => pack.Flavor)</h6>
                    <p class="price">@Html.DisplayFor(c => pack.PackPrice)</p>
                    <h6 id="details">@Html.ActionLink("Details", "Details", new { id = pack.IdPack })</h6>
                </li>
            </ul>
        }
    </div>
    <div class="pagelinks col-md-9">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("PackOverview", new { page = x }))
    </div>
</div>



