@model CardGame.Web.Models.Card

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(c => c.ID)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Name)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Type)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Mana)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Attack)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Life)
        </th>

    </tr>

        <tr>
            <td>
                @Html.DisplayFor(c => c.ID)
            </td>
            <td>
                @Html.DisplayFor(c => c.Name)
            </td>
            <td>
                @Html.DisplayFor(c => c.Type)
            </td>
            <td>
                @Html.DisplayFor(c => c.Mana)
            </td>
            <td>
                @Html.DisplayFor(c => c.Attack)
            </td>
            <td>
                @Html.DisplayFor(c => c.Life)
            </td>
            @*<td>
                @{
                    var base64 = Convert.ToBase64String(card.Pic);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                }

            </td>*@
        </tr>
</table>

@Html.ActionLink("Zurück", "Overview")

