@model CardGame.Web.Models.Card

@{
    ViewBag.Title = "Details";
}


<a style="float:left"class="btn btn-default" href="@Url.Action("Overview", "Card")">zurück</a>
<div class="col-md-3 col detail">
    <h3>@Html.DisplayFor(m => Model.Name)</h3>
    @if (Model.Pic != null)
    {
        var base64 = Convert.ToBase64String(Model.Pic);
        var imgSrc = String.Format("data:image/png;base64,{0}", base64);
        <img class="detailpic col" src="@imgSrc" />
    }
    else
    {
        <div class="card-header ">@Html.DisplayText("no Picture found")</div>
    }
    <div>
        
        <div><p>Kategorie</p></div>
        <p class="detailsRound">@Html.DisplayFor(m => Model.CardClass)</p>

    </div>

    <div>
        <div><p>Type</p></div>
        <p class="detailsRound">@Html.DisplayFor(m => Model.Type)</p>

    </div>


    <div>
        <div><p>Leben</p></div>

        <p class="detailsRound">@Html.DisplayFor(m => Model.Life)</p>


    </div>

    <div>
        <div><p>Attack</p></div>
        <p class="detailsRound">@Html.DisplayFor(m => Model.Attack)</p>
    </div>

    <div>
        <div><p>Mana</p></div>
        <p class="detailsRound">@Html.DisplayFor(m => Model.Mana)</p>
    </div>

</div>



























