
@model CardGame.Web.Models.CardsListViewModel

@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>

<table>
    <tr>
        <th>
            <h4>Number</h4>
        </th>
        <th>
            <h4>Name</h4> 
        </th>
        <th>
            <h4>Type</h4>
        </th>
        <th>
            <h4>Mana</h4>
        </th>
        <th>
            <h4> Details</h4>
        </th>
    </tr>
   
    @foreach (var card in Model.Cards)
    {
        <tr>
            <td>
                @Html.DisplayFor(c => card.ID)
            </td>
            <td>
                @Html.DisplayFor(c => card.Name)
            </td>
            <td>
                @Html.DisplayFor(c => card.Type)
            </td>
            <td>
                @Html.DisplayFor(c => card.Mana)
            </td>
            <td>
                @if (card.Pic != null)
                {
                var base64 = Convert.ToBase64String(card.Pic);
                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                <img src="@imgSrc" id="OverViewPic" />
                }
                else
                {
                @Html.DisplayText("no Picture found")
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = card.ID })
            </td>

        </tr>
    }
        @Html.PageLinks(Model.PagingInfo, x=> Url.Action("OverView",new {page= x }))
</table>
   

