
@model CardGame.Web.Models.CardsListViewModel

@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>
@*<div class="OverViewAll">*@
    <table>

    <tr>
        <th class="Overviewth">
            <h4>Number</h4>
        </th>
        <th>
            <h4 class="Overviewth">Picture</h4>
        </th>

        <th>
            <h4 class="Overviewth">Name</h4>
        </th>
        <th>
            <h4 class="Overviewth">Type</h4>
        </th>
        <th>
            <h4 class="Overviewth">Mana</h4>
        </th>
        <th>
            <h4 class="Overviewth"> Details</h4>
        </th>
    </tr>

    @foreach (var card in Model.Cards)
            {

        <tr>
            <td class="Overviewtd">
                @Html.DisplayFor(c => card.ID)
            </td>
            <td class="Overviewtd">
                @if (card.Pic != null)
                {
                    var base64 = Convert.ToBase64String(card.Pic);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                    <img src="@imgSrc" id="OverViewPic" />
                }
                else
                {
                    @Html.DisplayText("no Picture found")
                }
            </td>

            <td class="Overviewtd">
                @Html.DisplayFor(c => card.Name)
            </td>
            <td class="Overviewtd">
                @Html.DisplayFor(c => card.Type)
            </td>
            <td class="Overviewtd">
                @Html.DisplayFor(c => card.Mana)
            </td>

            <td class="Overviewtd">
                @Html.ActionLink("Details", "Details", new { id = card.ID })
            </td class="Overviewtd">

        </tr>
    }

</table>
<div class="PageLinks">
   
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("OverView", new { page = x }))
</div>
@*</div>*@
