@model CardGame.Web.Models.UI.Login

@{
    ViewBag.Title = "Login";
}

<div id="fullcontainer" class="container fullcontainer">
    <div class="col-lg-1 categorylinks">
        <h2 id="lefthead">About</h2>
        <div>
            <a href="#" class="btn btn-default buttonleftnav">Button1</a>
            <a href="#" class="btn btn-default buttonleftnav">Button2 </a>
        </div>
    </div>

    <div class="col-lg-6  mainright ">

        @using (Html.BeginForm())
        {
            <fieldset>
                <legend></legend>
                <ul>
                    <li>
                        <p>
                            @Html.LabelFor(u => u.Email)
                            @Html.EditorFor(u => u.Email)
                        </p>
                        @Html.ValidationMessageFor(u => u.Email)
                    </li>
                    <li>
                        <p>
                            @Html.LabelFor(u => u.Passwort)
                            @Html.PasswordFor(u => u.Passwort, new { maxlength = 50, value = ViewBag.Selpwd })
                        </p>
                        @Html.ValidationMessageFor(u => u.Passwort)
                    </li>
                    <li>
                        <input type="submit" value="Login" class="btn btn-default submitbutton" />
                        @Html.ActionLink("Register", "Register", "Account", htmlAttributes: new { @class = "btn btn-default" })
                    </li>
                </ul>
            </fieldset>
        }
    </div>
</div>
            -