@model CardGame.Web.Models.UI.Login

@{
    ViewBag.Title = "Login";
}



@*-------------------------------------------------------LEFTBAR AD-------------------------------------------------*@
<div class="col-md-3">

    @Html.Partial("_Advertisment")

@*-----------------------------------------------------LEFTBAR CURRENCY---------------------------------------------*@
    @Html.Partial("_Money")

</div>

@*-----------------------------------------------------MAINCOLUMN---------------------------------------------*@
<div class="col col-md-6 cardcol">
    <h3>Login</h3>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend></legend>
            <ul>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Email)
                        @Html.EditorFor(u => u.Email)
                    </p>
                    @Html.ValidationMessageFor(u => u.Email)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Passwort)
                        @Html.PasswordFor(u => u.Passwort, new { maxlength = 50, value = ViewBag.Selpwd })
                    </p>
                    @Html.ValidationMessageFor(u => u.Passwort)
                </li>
                <li>
                    <input type="submit" value="Login" class="btn btn-default " />
                </li>
                <li><p class="toregistrieren"><a href="@Url.Action("Register", "Account")">Registrieren</a></p></li>
            </ul>
        </fieldset>
    }
    <br />
</div>
@*-----------------------------------------------------RIGHTBAR TOP---------------------------------------------*@

<div class="col-md-3">

    @Html.Partial("_RightTop")

    @*-----------------------------------------------------RIGHTBAR Middle---------------------------------------------*@

     @Html.Partial("_RightMiddle")

    @*-----------------------------------------------------RIGHTBAR BOTTOM---------------------------------------------*@

    @Html.Partial("_RightBottom")
</div>