@model CardGame.Web.Models.UI.Register
@{
    ViewBag.Title = "Register";
}

@*-------------------------------------------------------LEFTBAR AD----------------------------------------------*@
<div class="col-md-3">
     @Html.Partial("_Advertisment");

 @*-----------------------------------------------------LEFTBAR Banner-----------------------------------------*@

    @Html.Partial("_BannerAd")

@*----------------------------------------------------LEFTBAR CURRENCY---------------------------------------------*@
    @Html.Partial("_Money");
</div>
@*-----------------------------------------------------MAINCOLUMN---------------------------------------  ------*@
<div class="col col-md-6 cardcol">
    <h3>Registrierung</h3>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend></legend>
            <ul>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Firstname)
                        @Html.TextBoxFor(u => u.Firstname, new { maxlength = 50 })
                    </p>
                </li>
                <li>
                    @Html.ValidationMessageFor(model => model.Firstname)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Lastname)
                        @Html.EditorFor(u => u.Lastname, new { maxlength = 50 })
                    </p>
                    @Html.ValidationMessageFor(model => model.Lastname)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Gamertag)
                        @Html.EditorFor(u => u.Gamertag, new { maxlength = 50 })
                    </p>
                    @Html.ValidationMessageFor(model => model.Gamertag)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Email)
                        @Html.EditorFor(u => u.Email)
                    </p>
                    @Html.ValidationMessageFor(u => u.Email)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Passwort)
                        @Html.PasswordFor(u => u.Passwort, new { maxlength = 50, value = ViewBag.Selpwd })
                    </p>
                    @Html.ValidationMessageFor(u => u.Passwort)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.ConfirmPassword)
                        @Html.EditorFor(u => u.ConfirmPassword, new { maxlength = 50, value = ViewBag.Selconfirmpwd })
                    </p>
                    @*@Html.ValidationMessageFor(u => u.PasswordValidation)*@
                </li>
                <li>
                    <a class="readAGB " href="@Url.Action("Contact", "Home")">Ich habe die AGB´s gelesen und akzeptiert </a>
                </li>
                <li>
                    <div>@Html.CheckBoxFor(m => m.TermsAccepted)</div>
                    @Html.ValidationMessageFor(m => m.TermsAccepted)
                </li>
                <li><input type="submit" value="Registrieren" class="btn btn-default regButtonreg" /></li>
            </ul>

        </fieldset>
    }
    <br />
</div>
@*-----------------------------------------------------RIGHTBAR TOP---------------------------------------------*@
<div class="col-md-3">

      @Html.Partial("_RightTop")

@*-----------------------------------------------------RIGHTBAR Middle------------------------------------------*@

      @Html.Partial("_RightMiddle")

@*-----------------------------------------------------RIGHTBAR BOTTOM-----------------------------------------*@

      @Html.Partial("_RightBottom")

</div>

