@model CardGame.Web.Models.UI.AdminUserInfo
@{
    ViewBag.Title = "A_UserEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>User bearbeiten</h2>

<div class="panel" style="background-color:transparent;background:fixed;max-width:50%;min-height:62em;margin-left:25%">
    <div class="panel-heading" style="background-color:darkgrey">
        <h3>Bearbeite @Model.Firstname &thinsp;@Model.Lastname</h3>
    </div>

    @using (Html.BeginForm("A_UserEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(c => c.ID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "ID":
                    case "Pic":
                    case "ImageMimeType":
                    case "Email":
                    case "SortValue":
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "IsActive")
                            {
                                @Html.CheckBox(property.PropertyName)
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;

                }
            }
            <div class="form-group">
                <div>
                    <label style="margin-right:10em">Bild</label>
                    <label class="custom-file-upload" style="margin-left:12em">
                        <input id="img" name="img" onchange='$("#upload-file-info").html($(this).val());' type="file" size="40" />
                        <i class="fa fa-cloud-upload"></i> Wähle Bild aus...
                    </label>

                    <span class='label label-info' id="upload-file-info"></span>
                </div>

                @Html.Partial("_ShowUserImage", @Model)

            </div>
        </div>
        <div class="panel-footer" style="background-color:darkgrey">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Zurücksetzen", "A_UserIndex", null, new { @class = "btn btn-default" })

        </div>
    }
</div>

