@model IEnumerable<CardGame.Web.Models.Card>

@{
    ViewBag.Title = "ADMIN-All Cards";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel panel-default" style="background-color:transparent;background:fixed;max-width:100%;min-height:62em;">
    <div class="panel-heading" style="background-color:darkgrey;">
        <h2>Alle Karten</h2>
        <center>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group " role="group" aria-label="First group">
                    <center>
                        <h5>@Html.ActionLink("Neue Karte hinzufügen", "CardCreate", new { @class = "btn btn-secondary" })</h5>
                    </center>
                </div>
            </div>
        </center>
    </div>
    <center>
        <div class="panel-body">
            <table class="table-hover table-condensed table-bordered" style="margin-top:0.5em">
                <tr>
                    <th>Sortieren =></th>

                    <th>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:5em;background-color:transparent;">
                                Name &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                            </button>
                            <ul class="dropdown-menu" style="background-color:transparent">
                                <li style="background-color:transparent">@Html.ActionLink("Aufsteigend", "CardIndex", new { SortValue = 1 }, new { @class = "btn dropdown-toggle" })</li>
                                <li style="background-color:transparent">@Html.ActionLink("Absteigend", "CardIndex", new { SortValue = 2 }, new { @class = "btn dropdown-toggle" })</li>
                            </ul>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:5em;background-color:transparent;">
                                Aktiv &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                            </button>
                            <ul class="dropdown-menu" style="background-color:transparent">
                                <li style="background-color:transparent">@Html.ActionLink("Aktiv", "CardIndex", new { SortValue = 3 }, new { @class = "btn dropdown-toggle" })</li>
                                <li style="background-color:transparent">@Html.ActionLink("Inaktiv", "CardIndex", new { SortValue = 4 }, new { @class = "btn dropdown-toggle" })</li>
                            </ul>
                        </div>
                    </th>
                    <th>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:5em;background-color:transparent;">
                            Typ &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                        </button>
                        <ul class="dropdown-menu" style="background-color:transparent">
                            <li style="background-color:transparent">@Html.ActionLink("Aufsteigend", "CardIndex", new { SortValue = 5 }, new { @class = "btn dropdown-toggle" })</li>
                            <li style="background-color:transparent">@Html.ActionLink("Absteigend", "CardIndex", new { SortValue = 6 }, new { @class = "btn dropdown-toggle" })</li>
                            <li style="background-color:transparent">@Html.ActionLink("Hero", "CardIndex", new { SortValue = 7 }, new { @class = "btn dropdown-toggle" })</li>
                            <li style="background-color:transparent">@Html.ActionLink("Minion", "CardIndex", new { SortValue = 8 }, new { @class = "btn dropdown-toggle" })</li>
                            <li style="background-color:transparent">@Html.ActionLink("Spell", "CardIndex", new { SortValue = 9 }, new { @class = "btn dropdown-toggle" })</li>
                            <li style="background-color:transparent">@Html.ActionLink("Weapon", "CardIndex", new { SortValue = 10 }, new { @class = "btn dropdown-toggle" })</li>
                        </ul>
                    </div>
                    </th>
                    <th class="text-right">InfoText</th>
                    <th>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:5em;background-color:transparent;">
                                Mana &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                            </button>
                            <ul class="dropdown-menu" style="background-color:transparent">
                                <li style="background-color:transparent">@Html.ActionLink("Aufsteigend", "CardIndex", new { SortValue = 11 }, new { @class = "btn dropdown-toggle" })</li>
                                <li style="background-color:transparent">@Html.ActionLink("Absteigend", "CardIndex", new { SortValue = 12}, new { @class = "btn dropdown-toggle" })</li>
                            </ul>
                        </div>
                    </th>

                    

                    <th>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:5em;background-color:transparent;">
                                Attack &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                            </button>
                            <ul class="dropdown-menu" style="background-color:transparent">
                                <li style="background-color:transparent">@Html.ActionLink("Aufsteigend", "CardIndex", new { SortValue = 13 }, new { @class = "btn dropdown-toggle" })</li>
                                <li style="background-color:transparent">@Html.ActionLink("Absteigend", "CardIndex", new { SortValue = 14 }, new { @class = "btn dropdown-toggle" })</li>
                            </ul>
                        </div>
                    </th>
                    <th>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:5em;background-color:transparent;">
                            Life &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                        </button>
                        <ul class="dropdown-menu" style="background-color:transparent">
                            <li style="background-color:transparent">@Html.ActionLink("Aufsteigend", "CardIndex", new { SortValue = 15 }, new { @class = "btn dropdown-toggle" })</li>
                            <li style="background-color:transparent">@Html.ActionLink("Absteigend", "CardIndex", new { SortValue = 16 }, new { @class = "btn dropdown-toggle" })</li>
                        </ul>
                    </div>
                    </th>
                    
                    <th class="text-center">Löschen</th>

                </tr>
                @foreach (var card in Model)
                {
                    <tr>
                        <td class="text-right">@card.ID</td>

                        <td><h6>@Html.ActionLink(card.Name, "CardEdit", new { id = card.ID })</h6></td>
                        <td class="text-right">@Html.CheckBoxFor(p => card.IsActive, new { @disabled = "disabled" })</td>
                        <td class="text-right">@card.Type</td>
                        <td class="text-right">@card.Flavor</td>
                        <td class="text-center">@card.Mana</td>
                        <td class="text-center">@card.Attack</td>
                        <td class="text-center">@card.Life</td>

                        @using (Html.BeginForm("SetCardInActive", "Admin"))
                        {
                            <td>
                                @Html.Hidden("id", card.ID)
                                <input type="submit" class="btn btn-default btn-xs" value="Löschen" />
                            </td>
                        }
                    </tr>
                }
            </table>

        </div>

        <div class="panel-footer" style="background-color:darkgrey">
            <center><h3>@Html.ActionLink("Neue Karte hinzufügen", "CardCreate", new { @class = "btn btn-default" })</h3></center>
        </div>
    </center>
</div>
