@model CardGame.Web.Models.Card


@{
    ViewBag.Title = "Admin: CardEdit" + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel" style="background-color:transparent;background:fixed;max-width:50%;min-height:62em;margin-left:25%">
    <h3>Karte bearbeiten</h3>

    <div class="panel-heading" style="position:relative;width:58em; margin-left:-15em;height:8em;">
        <h3>Bearbeite @Model.Name</h3>
        <div id="cardi">@Html.Partial("_ShowCardImageR", @Model)</div>
    </div>

    @using (Html.BeginForm("CardEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">

            @Html.HiddenFor(c => c.ID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    switch (property.PropertyName)
                    {
                        case "ID":
                        case "Pic":
                        case "ImageMimeType":
                            break;
                        default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Flavor")
                            {
                                @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 3 })
                            }
                            else if (property.PropertyName == "IsActive")
                            {
                                @Html.CheckBox(property.PropertyName)
                            }
                            else if (property.PropertyName == "SortValue")
                            {
                                @Html.Hidden(property.PropertyName)

                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;

                }
            }
            <div class="form-group">
                <div>
                    <label style="margin-right:10em">Bild</label>
                    <label class="custom-file-upload" style="margin-left:12em">
                        <input id="img" name="img" onchange='$("#upload-file-info").html($(this).val());' type="file" size="40" />
                        <i class="fa fa-cloud-upload"></i> Wähle Bild aus...
                    </label>

                    <span class='label label-info' id="upload-file-info"></span>
                </div>
                <div class="panel-footer " style="background-color:transparent;">
                    <div class="col-md-10" style="margin-top:8em;float:left;">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        @Html.ActionLink("Zurücksetzen", "CardIndex", null, new { @class = "btn btn-default" })
                    </div>
                </div>
             </div>
        </div>
    }
</div>

