@model CardGame.Web.Models.Discount


@{
    ViewBag.Title = "Admin: Edit" + @Model.ID;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Pack bearbeiten</h3>

<div class="panel" style="background-color:transparent;background:fixed;max-width:50%;min-height:62em;margin-left:25%">
    <div class="panel-heading" style="position:relative;width:58em; margin-left:-15em;height:8em;margin-top:-4em">

        <h3>Bearbeite  Aktion Nummer @Model.ID</h3>

    </div>



    @using (Html.BeginForm("DiscountEdit", "Admin", FormMethod.Post))
    {
        <div>
            <p>
                @Html.HiddenFor(m => m.ID)

            </p>
            <p>
                <h6>Aktionswert(-)</h6>
                @Html.TextBoxFor(c => c.DiscountAmount)
            </p>
            <p>
                <h6>Start</h6>
                @Html.TextBoxFor(c => c.StartDate, new { @class = "form-control jqueryui-marker-datepicker" })
            </p>
            <p>
                <h6>Ende</h6>

                @Html.TextBoxFor(c => c.EndDate, new { @class = "form-control jqueryui-marker-datepicker" })
            </p>
            <br /><br />
        </div>
        <br />
        <div>
            <p style="font-size:1em">
                Name:...............

                @Html.DisplayFor(c => c.DiscountPack.PackName)
            </p>
            <p style="font-size:1em">
                Wert:...............

                @Html.DisplayFor(c => c.DiscountPack.Worth) Coins
            </p>

            <p style="font-size:1em">
                Preis:..............

                @Html.DisplayFor(c => c.DiscountPack.PackPrice) €/Coins
            </p>

            <p style="font-size:1em">
                PackInhalt:........

                @Html.DisplayFor(c => c.DiscountPack.NumCards) Karten
            </p>


        </div>
    <div class="panel-footer" style="background-color:transparent">
        <div class="col-md-10" style="margin-top:8em;float:left;width:32em;margin-top:1em">
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.ActionLink("Zurück", "DiscountIndex", null, new { @class = "btn btn-default" })
        </div>
    </div>
    }
    </div>
