@model CardGame.Web.Models.CardPack


@{
    ViewBag.Title = "Admin: Edit" + @Model.PackName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Pack bearbeiten</h2>

<div class="panel" style="background-color:transparent;background:fixed;max-width:50%;min-height:62em;margin-left:25%">
    <div class="panel-heading" style="background-color:darkgrey">
        <h3>Bearbeite @Model.PackName</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.IdPack)
            @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    switch (property.PropertyName)
                    {
                        case "IdPack":
                        case "Pic":
                        case "ImageMimeType":
                            break;
                        default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Flavor")
                            {
                                @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 3 })
                            }
                            else if (property.PropertyName == "IsActive")
                            {
                                @Html.CheckBox(property.PropertyName)
                            }
                            else if (property.PropertyName == "IsMoney")
                            {
                                @Html.CheckBox(property.PropertyName)
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;

                }
            }
            <div class="form-group">
                <div style="position:relative;">
                    <label>Bild</label>
                    @*<label class="custom-file-upload">
                        <input id="img" name="img" onchange='$("#upload-file-info").html($(this).val());' type="file" />
                        <i class="fa fa-cloud-upload"></i> Wähle Bild aus...
                    </label>*@

                    <a class='btn' style="margin-left:20em;" href='javascript:document.getElementById("img").click();'>
                        Wähle Bild aus...
                        <input type="file" id="img" name="img" size="40" style="position:absolute;z-index:2;top:0;left:0;filter:alpha(opacity=0);opacity:0;background-color:transparent;" onchange='$("#upload-file-info").html($(this).val());' />
                    </a>
                    <span class='label label-info' id="upload-file-info"></span>
                </div>

                @Html.Partial("_ShowCardImage",@Model)

            </div>
        </div>
        <div class="panel-footer" style="background-color:darkgrey">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Zurücksetzen", "Index", null, new { @class = "btn btn-default" })

        </div>
    }
</div>

