@model IEnumerable<CardGame.Web.Models.CardPack>

@{
    ViewBag.Title = "ADMIN -All Packs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-11">
    <div class="panel panel-defaultpanel panel-default" style="background-color:transparent;width:100%;min-height:62em;border:transparent">
        <div class=panel-heading style="background-color:darkgrey; width:77em;">
            <h2>Alle CardPacks</h2>
            @using (Html.BeginForm())
            {
                <p>
                    @Html.TextBox("Search")
                    <input style="max-width:5em" type="submit" value="Suchen" />
                </p>
            }
            <center>
                <p>
                    <h5>@Html.ActionLink("Neues Kartenpaket erstellen", "Create", new { @class = "btn btn-default" })</h5>
                </p>
            </center>
        </div>
        <center>
            <div class="panel-body">
                <table class="table-hover table-condensed table-bordered"style="margin-top:15em">
                    <tr>
                        <th class="text-right">Sortieren =></th>

                        <th>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:3em;background-color:transparent;">
                                    Name &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:transparent">
                                    <li style="background-color:transparent">@Html.ActionLink("Aufsteigend", "Index", new { SortValue = 1 }, new { @class = "btn dropdown-toggle" })</li>
                                    <li style="background-color:transparent">@Html.ActionLink("Absteigend", "Index", new { SortValue = 2 }, new { @class = "btn dropdown-toggle" })</li>
                                </ul>
                            </div>
                        </th>

                        <th>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:3em;background-color:transparent;">
                                    Aktiv &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:transparent">
                                    <li style="background-color:transparent">@Html.ActionLink("Aktiv", "Index", new { SortValue = 3 }, new { @class = "btn dropdown-toggle" })</li>
                                    <li style="background-color:transparent">@Html.ActionLink("Inaktiv", "Index", new { SortValue = 4 }, new { @class = "btn dropdown-toggle" })</li>
                                </ul>
                            </div>
                        </th>

                        <th>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:3em;background-color:transparent;">
                                    K-Inhalt &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:transparent">
                                    <li style="background-color:transparent">@Html.ActionLink("Aufsteigend", "Index", new { SortValue = 5 }, new { @class = "btn dropdown-toggle" })</li>
                                    <li style="background-color:transparent">@Html.ActionLink("Absteigend", "Index", new { SortValue = 6 }, new { @class = "btn dropdown-toggle" })</li>
                                </ul>
                            </div>
                        </th>

                        <th class="text-right">Text</th>

                        <th>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:3em;background-color:transparent;">
                                    Wert-Euro &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:transparent">
                                    <li style="background-color:transparent">@Html.ActionLink("Aufsteigend", "Index", new { SortValue = 7 }, new { @class = "btn dropdown-toggle" })</li>
                                    <li style="background-color:transparent">@Html.ActionLink("Absteigend", "Index", new { SortValue = 8 }, new { @class = "btn dropdown-toggle" })</li>
                                </ul>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:3em;background-color:transparent;">
                                    Wert-C &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:transparent">
                                    <li style="background-color:transparent">@Html.ActionLink("Aufsteigend", "Index", new { SortValue = 9 }, new { @class = "btn dropdown-toggle" })</li>
                                    <li style="background-color:transparent">@Html.ActionLink("Absteigend", "Index", new { SortValue = 10 }, new { @class = "btn dropdown-toggle" })</li>
                                </ul>
                            </div>
                        </th>

                        <th>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="min-width:3em;background-color:transparent;">
                                    Karten-Packet? &nbsp;<span class="caret" style="border-color:white; border-width:2px"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:transparent">
                                    <li style="background-color:transparent">@Html.ActionLink("Geldpaket", "Index", new { SortValue = 11 }, new { @class = "btn dropdown-toggle" })</li>
                                    <li style="background-color:transparent">@Html.ActionLink("Kartenpaket", "Index", new { SortValue = 12 }, new { @class = "btn dropdown-toggle" })</li>
                                </ul>
                            </div>
                        </th>

                        <th class="text-center">Löschen</th>

                    </tr>
                    @foreach (var pack in Model)
                    {
                        <tr>
                            <td class="text-right">@pack.IdPack</td>

                            <td><h6>@Html.ActionLink(pack.PackName, "Edit", new { id = pack.IdPack })</h6></td>
                            <td class="text-right">@Html.CheckBoxFor(p => pack.IsActive, new { @disabled = "disabled" })</td>
                            <td class="text-right">@pack.NumCards</td>
                            <td class="text-right">@pack.Flavor</td>
                            <td class="text-center">
                                @if (pack.IsMoney)
                                {@pack.PackPrice.ToString("c")}
                                else
                                { @pack.PackPrice.ToString("Coins")}
                            </td>
                            <td class="text-center">@pack.Worth</td>
                            <td class="text-right">@Html.CheckBoxFor(p => pack.IsMoney, new { @disabled = "disabled" })</td>
                            @using (Html.BeginForm("SetInactive", "Admin"))
                            {
                                <td>
                                    @Html.Hidden("id", pack.IdPack)
                                    <input type="submit" class="btn btn-default btn-xs" value="Löschen" />
                                </td>
                            }
                        </tr>
                    }
                </table>

            </div>
        </center>
        <div class="panel-footer" style="background-color:darkgrey">
            <center><h3>@Html.ActionLink("Neues Pack hinzufügen", "Create", new { @class = "btn btn-default" })</h3></center>
        </div>

    </div>
</div>