
@model CardGame.Web.Models.DB.OrderInfo


@{
    ViewBag.Title = "Admin: Bestellung Nummer" + @Model.ID;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Bestellung bearbeiten</h3>

<div class="panel" style="background-color:transparent;background:fixed;max-width:50%;min-height:62em;margin-left:25%">
    <div class="panel-heading" style="position:relative;width:58em; margin-left:-15em;height:8em;">
        <h3 style="position:absolute">Bearbeite Bestellung Nummer @Model.ID</h3>
    </div>
    @{int a = 1;}
    @using (Html.BeginForm("OrderEdit", "Admin"))
    {
        <div class="panel-body">

            <ul>
                <li>
                    <div>

                        <span class="welcome"> @Html.Hidden(a.ToString())</span>
                        <span>@Html.HiddenFor(o => o.ID)</span>
                        <h7>@Html.DisplayFor(c => c.User.Firstname)</h7>&nbsp;
                        <h7> @Html.DisplayFor(c => c.User.Lastname)</h7>&nbsp;&nbsp;&nbsp;&nbsp;
                        <h7 style="color:darkorange">@Html.DisplayFor(c => c.User.Email)</h7>
                    </div>
                    <br />
                </li>

                <li>
                    <div>
                        @Html.LabelFor(u => u.Date)
                        <span>@Html.TextBoxFor(m => m.Date, new { @class = "form-control jqueryui-marker-datepicker" })</span>
                    </div>
                    @Html.ValidationMessageFor(u => u.Date)
                    <br />
                </li>

                <li>
                    <br />
                    <div>
                        @Html.LabelFor(m => m.NumberOfPackages)
                        @Html.TextBoxFor(m => m.NumberOfPackages)
                    </div>
                    @Html.ValidationMessageFor(m => m.NumberOfPackages)
                    <br />
                </li>
                <li>
                    <div>
                        @Html.LabelFor(m => m.CreditCard)
                        @Html.TextBoxFor(m => m.CreditCard)
                    </div>
                    @Html.ValidationMessageFor(m => m.CreditCard)
                    <br />
                </li>
                <li>
                    <div>
                        @Html.LabelFor(m => m.isActive)
                        @Html.CheckBoxFor(m => m.isActive)
                    </div>
                    @Html.ValidationMessageFor(m => m.isActive)
                    <br />
                </li>
                <li>
                    <div>
                        @Html.LabelFor(m => m.TotalCost)
                        @Html.TextBoxFor(m => m.TotalCost)
                    </div>
                    @Html.ValidationMessageFor(m => m.TotalCost)
                    <br />
                </li>
            </ul>

        </div>
        <div class="panel-footer" style="background-color:transparent">
            <div class="col-md-10" style="margin-top:8em;float:left;width:32em;margin-top:1em">
                <input type="submit" value="Save" class="btn btn-default" style="margin-top:1em" />
                @Html.ActionLink("Zurück", "OrderIndex", null, new { @class = "btn btn-default" })
                </div>
            </div>
    }
</div>

