@model IEnumerable<CardGame.Web.Models.UI.Register>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@{ var currencybalance = SessionHelper.Get<int>("Currencybalance");}
<div class="col-md-3">

    <div class="col col-md-12 adtopleft">
        <h3>Stöbern</h3>
        <h6>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h6>
    </div>
    <div class="col col-md-12 currency">
        <h3>Ihr Guthaben</h3>
        <h5 class="welcome">
            COINS
            @currencybalance
        </h5>

        <img class="image responsive coinpic" src="~/Content/images/Coins-PNG-Picture-180x180.png" />
        <a class="btn btn-default" href="@Url.Action("PackOverview", "CardPack")">Guthaben aufladen</a>
    </div>
</div>


<div class="col col-md-6">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    @*<th>#</th>*@
                        <th>@Html.DisplayNameFor(u => u.ID)</th>
                        <th>@Html.DisplayNameFor(u => u.Firstname)</th>
                        <th>@Html.DisplayNameFor(u => u.Lastname)</th>
                        <th>@Html.DisplayNameFor(u => u.Role)</th>
                        <th>@Html.DisplayNameFor(u => u.Email)</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var user in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(u => user.ID)</td>
                        <td>@Html.DisplayFor(u => user.Firstname)</td>
                        <td>@Html.DisplayFor(u => user.Lastname)</td>
                        <td>@Html.DisplayFor(u => user.Role)</td>
                        <td>@Html.DisplayFor(u => user.Email)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="col-md-3">
    <div class="col col-md-12 ">
        <h3>Stöbern</h3>
        <p>
            Stöbere durch unsere Kartensammlung und schaue dir die neuesten Karten an
        </p>
        <a class="btn btn-default" href="@Url.Action("Overview", "Card")">Zu den Decks</a>
    </div>

    <div class="col col-md-12">
        <h3>Stelle deine Decks zusammen</h3>
        <p>Durchsuche deine Kartensammlung und stelle deine, persönlichen Decks zusammen</p>

        <a class="btn btn-default" href="@Url.Action("Overview", "Card")">Zu den Karten</a>

    </div>

</div>







