@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @{ if (User.Identity.Name == "")
        {
            <h3>Willkommen</h3>
        }
        else
        {
            <h3>Willkommen</h3>
            <h3>@ViewBag.Firstname</h3>
        }
    }
    <h3>im CloneShop</h3>
    @{ if (User.IsInRole("admin"))
        {
            <h4>You are an admin</h4>
        }
    }
    <p class="lead">Willkommen auf dem Webshop von CloneStone, hier kannst du stöbern,
     Cardpacks kaufen und deine eigenen Decks erstellen.</p>
    <p>@Html.ActionLink("Login", "Login", "Account", new {@class= "btn btn-default"})
    </p>
</div>



<div class="row ">
    <div class="col-md-4 indexrechts top">
        <h3>Stöbern</h3>
        <p>
          Stöbere durch unsere Kartensammlung und schaue dir die neuesten Karten an
        </p>
        <p>@Html.ActionLink("Zu den Karten", "Overview", "Card", new { @class = "btn btn-default" })</p>
        
    </div>

    <div class="col-md-4  indexrechts">
        <h3>Stelle deine Decks zusammen</h3>
        <p>Durchsuche deine Kartensammlung und stelle deine, persönlichen Decks zusammen</p>
        <p>@Html.ActionLink("Zu den Decks", "Overview", "Card", new { @class = "btn btn-default" })</p>
        
    </div>
 
    <div class="col-md-4 indexrechts" >
        <h3>Kaufe Kartenpacks </h3>
        <p>Hier bekommst du Karten und du kannst sie deiner Sammlung hinzufügen</p>
        <p>@Html.ActionLink("Zum Shop", "DisableCurrency", "Cardpack", new { @class = "btn btn-default" })</p>
        
    </div>
</div>