@model CardGame.Web.Models.User
   
@{
    ViewBag.Title = "Home Page";
}


@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@
<div class="col-md-3">
    <div class="col col-md-12 adtopleft">
        <h3>Stöbern</h3>
        <h6>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h6>
    </div>

    @*-----------------------------------------------------LEFTBAR CURRENCY-----------------------------------------*@
    <div class="col col-md-12 currency">
        <h3>Ihr Guthaben</h3>
        @{if (Session["CurrencyBalance"] != null)
            {
                var currency = this.Session["CurrencyBalance"];
                <h5 class="welcome">@currency</h5>
                <h5 class="Welcome">COINS</h5>
            }
        }
        <img class="image responsive coinpic " src="~/Content/images/Coins-PNG-Picture-180x180.png" />
        @{ if (User.Identity.Name != "")
            {
                <a class="btn btn-default" href="@Url.Action("PackOverview", "CardPack")">Guthaben aufladen</a>
            }
        }
    </div>
</div>
        @*-----------------------------------------------------MAINCOLUMN---------------------------------------  ------*@
    
<div class="col col-md-6 cardcol">
    @{ if (User.Identity.Name == "")
        {
            <h3>Willkommen</h3>
            <h3>im CloneShop</h3>
            <h5>
                Um im Shop stöbern zu können müssen Sie sich zuerst einloggen
            </h5>
            <a class="btn btn-default" href="@Url.Action("Login", "Account")">Zum Login</a>
        }
        else
        {
            <h3 class="welcome">Willkommen @ViewBag.Firstname</h3>
            <h3>im CloneShop</h3>
            <h5>
                Willkommen auf dem Webshop von CloneStone, hier kannst du stöbern,
                Cardpacks kaufen und deine eigenen Decks erstellen.
            </h5>

        }
        if (User.IsInRole("admin"))
        {
            <h5>You are an admin</h5>
        }
    }
</div>

@*-----------------------------------------------------RIGHTBAR TOP---------------------------------------------*@
<div class="col-md-3">
    <div class="col col-md-12">
        <h3>Stöbern</h3>
        <p>
            Stöbere durch unsere Kartensammlung und schaue dir die neuesten Karten an
        </p>
        @{ if (User.Identity.Name != "")
            {
                <a class="btn btn-default" href="@Url.Action("Overview", "Card")">Zu den Decks</a>
            }
        }
    </div>
@*-----------------------------------------------------RIGHTBAR Middle------------------------------------------*@
    <div class="col col-md-12">
        <h3>Stelle deine Decks zusammen</h3>
        <p>Durchsuche deine Kartensammlung und stelle deine, persönlichen Decks zusammen</p>
        @{ if (User.Identity.Name != "")

            {
                <a class="btn btn-default" href="@Url.Action("Overview", "Card")">Zu den Karten</a>
            }
        }
    </div>
@*-----------------------------------------------------RIGHTBAR BOTTOM-----------------------------------------*@
    <div class="col col-md-12">
        <h3>Kaufe Kartenpacks </h3>
        <p>Hier bekommst du Karten und du kannst sie deiner Sammlung hinzufügen</p>
        @{ if (User.Identity.Name != "")
            {
                <a class="btn btn-default" href="@Url.Action("DisableCurrency", "CardPack")">Zum Shop</a>
            }
        }
    </div>
</div>
