@{
    ViewBag.Title = "_ChartOverview";
}


<div class="col-md-5">
    <br />
    <span id="chartspan">Top 10 Kunden</span>

    @Html.Partial("Chart/_ShowTopTenBuyers")
</div>

<div class="col-md-5">
    <br />
    <span id="chartspan">Top 10 Kunden</span>

    @Html.Partial("Chart/_ShowTopTenBuyers")
</div>

<div class="col-md-5">
    <br />
    <span id="chartspan">Top 10 Kunden</span>

    @Html.Partial("Chart/_ShowTopTenBuyers")
</div>

<div class="col-md-5">
    <br />
    <span id="chartspan">Top 10 Kunden</span>

    @Html.Partial("Chart/_ShowTopTenBuyers")
</div>

<div class="col-md-5">
    <br />
    <span id="chartspan">Top 10 Kunden</span>

    @Html.Partial("Chart/_ShowTopTenBuyers")
</div>



