@model Order
@{
    ViewBag.Title = "OrderOverview";
}

<h2>OrderOverview</h2>
@using (Html.BeginForm())
{
    <div>
        You want to buy @Model.Quantity @Model.Pack.PackName packs
    </div>

    <div>
        Current Balance: @Model.UserBalance
        Total Cost: @Model.Quantity x @Model.Pack.Price = @(Model.Quantity * Model.Pack.Price)
        New Balance: @(@Model.UserBalance - Model.Quantity * Model.Pack.Price)
    </div>
    <div>
        <input type="submit" value="Buy Pack(s)" class="btn btn-default" />
    </div>
}