@model CardGame.Web.Models.User
   
@{
    ViewBag.Title = "Home Page";
   
}


@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@
<div class="col-md-3">
    @Html.Partial("_Advertisment")


@*-----------------------------------------------------LEFTBAR Banner-------------------------------------- ---*@

    @Html.Partial("_BannerAd")

 @*-----------------------------------------------------LEFTBAR CURRENCY------------------------------------ --*@

    @Html.Partial("_Money")

</div> 

 @*-----------------------------------------------------MAINCOLUMN---------------------------------------------*@

   
<div class="col col-md-6 cardcol "id="index">
    @{ if (User.Identity.Name == "")
        {
            <h3>Willkommen</h3>
            <h3>im CloneShop</h3>
            <h5>
                Um im Shop stöbern zu können müssen Sie sich zuerst einloggen
            </h5>
            <a class="btn btn-default" href="@Url.Action("Login", "Account")">Zum Login</a>
        }
        else
        {
            if (ViewBag.Pic != null)
            {
                var base64 = Convert.ToBase64String(@ViewBag.Pic);
                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                <img class="cardpic img-circle" src="@imgSrc" />
            }

            <h3 class="welcome">Willkommen @ViewBag.Firstname</h3>
            <h3>im CloneShop</h3>
            <h5>
                Willkommen auf dem Webshop von CloneStone, hier kannst du stöbern,
                Cardpacks kaufen und deine eigenen Decks erstellen.
            </h5>
            }



        }
        @if (User.IsInRole("admin"))
        {
            <h3 style="color:darkorange">Du bist ein Admin</h3>
        }
    
</div>

@*-----------------------------------------------------RIGHTBAR TOP---------------------------------------------*@
<div class="col-md-3">

   @Html.Partial("_RightTop")

@*-----------------------------------------------------RIGHTBAR Middle------------------------------------------*@

   @Html.Partial("_RightMiddle")

@*-----------------------------------------------------RIGHTBAR BOTTOM-----------------------------------------*@

   @Html.Partial("_RightBottom")
</div>
