@model CardGame.Web.Models.Statistic

@{
    ViewBag.Title = "Statistics";
}


@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@

<div class="col-md-3">
    @Html.Partial("_Advertisment")
@*-----------------------------------------------------LEFTBAR Banner-----------------------------------------*@

    @Html.Partial("_BannerAd")
@*-----------------------------------------------------LEFTBAR CURRENCY-----------------------------------------*@

    @Html.Partial("_Money");
</div>
@*-----------------------------------------------------MAINCOLUMN---------------------------------------  ------*@
<div style="margin-left:50em;"> @Html.Partial("Chart/_ChartOverview")</div>
<div class="col col-md-6 cardcol" id="index">
    
    
    <div class="col-md-19" style="background-color:rgba(119, 68, 42, 0.48);height:10em;border-radius:1em">
        <h3 style="color:darkorange;padding-top:2em;">User angemeldet:</h3>
        <p>
            @Html.DisplayName("User:")
            @Html.DisplayFor(s => s.NumUsers)
        </p>
    </div>
    <br />
    <div class="col-md-19" style="background-color:rgba(119, 68, 42, 0.48);height:10em;border-radius:1em">
        <h3 style="color:darkorange;padding-top:2em;">Karten insgesamt:</h3>
        <p>
            @Html.DisplayName("Karten:")
            @Html.DisplayFor(s => s.NumCards)
        </p>
    </div>
        <br />
    <div class="col-md-19" style="background-color:rgba(119, 68, 42, 0.48);height:10em;border-radius:1em">
        <h3 style="color:darkorange;padding-top:2em;">Erstellte Decks:</h3>
        <p>
            @Html.DisplayName("Decks:")
            @Html.DisplayFor(s => s.NumDecks)
        </p>
    </div>
        <br />
    <div class="col-md-19" style="background-color:rgba(119, 68, 42, 0.48);height:10em;border-radius:1em">
        <h3 style="color:darkorange;padding-top:2em;">Erstellt am:</h3>
        <p>
            @Html.DisplayName("Datum:")
            @Html.DisplayFor(s => s.CreationTime)
        </p>
    </div>

    <div><a href="@Url.Action("DownloadViewPDF", "Home")">Download ViewAsPdf</a></div>
        </div>


@*-----------------------------------------------------RIGHTBAR TOP---------------------------------------------*@
<div class="col-md-3">

    @Html.Partial("_RightTop")
    @Html.Partial("_RightMiddle")
    @Html.Partial("_RightBottom")
    
</div>

