
@using CardGame.Web.Models

@model IEnumerable<Card>

@{
    ViewBag.Title = "DeckDetails";
}




@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@
<div class="col-md-3">
    @Html.Partial("_Advertisment")


    @*-----------------------------------------------------LEFTBAR Banner-------------------------------------- ---*@

    @Html.Partial("_BannerAd")

    @*-----------------------------------------------------LEFTBAR CURRENCY------------------------------------ --*@

    @Html.Partial("_Money")

</div>

@*-----------------------------------------------------MAINCOLUMN---------------------------------------------*@




<div class="col col-md-6 cardcol "id="decklistaround">

@Html.Partial("_DeckList", Model)


    <div class="col-md-offset-5"><h3>@Html.ActionLink("Dein Deck bearbeiten", "EditDeck", "Deck", new { id = ViewContext.RouteData.Values["id"] }, null)</h3></div>


   
        <div class="col-md-offset-7">
  <h3>
    @Html.ActionLink("Zurück zur Übersicht", "DeckOverview")
</h3>
</div>
    
 </div>

 

@*-----------------------------------------------------RIGHTBAR TOP---------------------------------------------*@
<div class="col-md-3">

    @Html.Partial("_RightTop")

    @*-----------------------------------------------------RIGHTBAR Middle------------------------------------------*@

    @Html.Partial("_RightMiddle")

    @*-----------------------------------------------------RIGHTBAR BOTTOM-----------------------------------------*@

    @Html.Partial("_RightBottom")
</div>
