@using CardGame.Web.Models.DB

@model IEnumerable<Deck>

@{
    ViewBag.Title = "DeckOverview";
}


@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@
<div class="col-md-3">
    @Html.Partial("_Advertisment")


    @*-----------------------------------------------------LEFTBAR Banner-------------------------------------- ---*@

    @Html.Partial("_BannerAd")

    @*-----------------------------------------------------LEFTBAR CURRENCY------------------------------------ --*@

    @Html.Partial("_Money")

</div>

@*-----------------------------------------------------MAINCOLUMN---------------------------------------------*@

<div class="col-md-6 cardcol">
  <h3>Deckübersicht</h3>
        <h3>Du hast @Model.ToList().Count Decks</h3>
    <div class="card-deck-wrapper col-md-12 cardcol "id="deckwrapper">
      
        <div class="card-deck packcol packdeck " id="packoverview">
            @foreach (var deck in Model)
            {
                <div class="card col-md-2 packcard" id="deckcardcard">
                    <img class="cardpic" src="~/Content/images/Cardpacks/2.png"  />
                    <h3 class="packname">@Html.DisplayFor(c => deck.Name)</h3>
                    <h5> @Html.ActionLink("Zu diesem Deck", "DeckDetails", new { id = deck.DeckID })</h5>
                </div>
            }
        </div>
    </div>
</div>




@*-----------------------------------------------------RIGHTBAR TOP---------------------------------------------*@
<div class="col-md-3">

    @Html.Partial("_RightTop")

    @*-----------------------------------------------------RIGHTBAR Middle------------------------------------------*@

    @Html.Partial("_RightMiddle")

    @*-----------------------------------------------------RIGHTBAR BOTTOM-----------------------------------------*@

    @Html.Partial("_RightBottom")
</div>