<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CloneShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="Webshop" content="Webshop to buy CloneStone Cards" />
    <meta name="description" content="A Webhop to buy Clonestone Cards" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top uppernav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar">@Html.ActionLink("Logout", "Logout", "Account")</span>
                        <span class="icon-bar">@Html.ActionLink("Home", "Index", "Home")</span>
                        <span class="icon-bar">@Html.ActionLink("About", "About", "Home")</span>
                        <span class="icon-bar">@Html.ActionLink("Contact", "Contact", "Home")</span>
                    </button>
                    @Html.ActionLink("CloneShop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navlist">

                    @if (User.IsInRole("player") || User.IsInRole("admin"))
            {
                        <li class="topnav">@Html.ActionLink("Logout", "Logout", "Account")</li>
                            <li class="topnav">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="topnav">@Html.ActionLink("About", "About", "Home")</li>
                            <li class="topnav">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    else if (true)
                    {
                        <li class="topnav">@Html.ActionLink("Login", "Login", "Account")</li>
                    }
                    @{ if (User.Identity.Name == "")
                        {
                            <li class="topnav">@Html.ActionLink("Bitte einloggen", "Login", "Account") </li>
                        }
                        else
                        {
                            <li class="topnav"><a class="welcome">@ViewBag.Firstname's Shop</a></li>
                        }
                    }
                    @if (User.IsInRole("admin"))
            {
                        <li class="topnav">@Html.ActionLink("Users", "Index", "User")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top downnav" role="navigation">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("player") || User.IsInRole("admin"))
                    {
                        <li class="undernav">@Html.ActionLink("Statistic", "Statistics", "Home")</li>
                        <li class="undernav">@Html.ActionLink("Cards", "Overview", "Card")</li>
                        <li class="undernav">@Html.ActionLink("Shop", "DisableCurrency", "CardPack")</li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li class="undernav">@Html.ActionLink("Users", "Index", "User")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">


            @RenderBody()


        </div>
        <footer class="navbar navbar-fixed-bottom" id="footer">
            <p>&copy; @DateTime.Now.Year </p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "positionClass": "toast-bottom-center",
            "preventDuplicates": true,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "swing",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(document).ready(function () {

            @if (TempData["ErrorMessage"] != null)
            {
                <text>
            toastr.error("", "@TempData["ErrorMessage"]");
            </text>
            }

            @if (TempData["ConfirmMessage"] != null)
            {
                <text>
            toastr.success("", "@TempData["ConfirmMessage"]");
            </text>
            }
            
            @if (TempData["ErrorMessage"] != null)
            {
                <text>
            toastr.error("", "@TempData["ErrorMessage"]");
                </text>
            }
            
            @if (TempData["WarningMessage"] != null)
            {
                <text>
            toastr.warning("", "@TempData["WarningMessage"]");
                </text>
            }

            @if (TempData["Progress"] != null)
            {
                <text>
            toastr.warning("", "@TempData["ProgressMessage"]");
                </text>
            }

            });
    </script>
</body>



</html>
