<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CloneShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="Webshop" content="Webshop to buy CloneStone Cards" />
    <meta name="description" content="A Webhop to buy Clonestone Cards" />
</head>



<body>
    <!-- PARTIAL VIEW -->
    <div class="container maincontainer">
        <div class="row">


            @RenderBody()

        </div>
    </div>

    <header>
        <div class="overlay"></div>
        <!-- NAVIGATION -->
        <nav class="navbar navbar-default  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/images/CS_Logo.png" /></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        @if (User.IsInRole("player") || User.IsInRole("admin"))
                        {
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action( "About", "Home")">Über uns</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Kontakt</a></li>
                                <li><a href="@Url.Action( "Statistics", "Home")">Stat´s</a></li>
                                <li><a href="@Url.Action("Overview", "Card")">Karten</a></li>
                                <li><a href="@Url.Action("DisableCurrency", "CardPack")">Karten</a></li>
                                <li><a href="@Url.Action( "Logout", "Account")">Log Out</a></li>
                                <li><a href="@Url.Action( "Index", "Home")">@ViewBag.Firstname's Shop</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Login", "Account")">Log in</a></li>
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <li><a href="@Url.Action("Index", "User")">Admins only</a></li>
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav><!-- /navigation -->
    </header>


















    @*SCRIPTS & CO*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "positionClass": "toast-bottom-center",
            "preventDuplicates": true,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "swing",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(window).scroll(function () {
            var wscroll = $(this).scrollTop();
            if (wscroll > 50) {
                $(".navbar").addClass("shrink-nav");
            }
            else {
                $(".navbar").removeClass("shrink-nav");
            }
        });
        $(document).ready(function () {

            @if (TempData["ErrorMessage"] != null)
            {
                <text>
            toastr.error("", "@TempData["ErrorMessage"]");
            </text>
            }

            @if (TempData["ConfirmMessage"] != null)
            {
                <text>
            toastr.success("", "@TempData["ConfirmMessage"]");
            </text>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <text>
            toastr.error("", "@TempData["ErrorMessage"]");
            </text>
            }

            @if (TempData["WarningMessage"] != null)
            {
                <text>
            toastr.warning("", "@TempData["WarningMessage"]");
            </text>
            }

            @if (TempData["Progress"] != null)
            {
                <text>
            toastr.warning("", "@TempData["ProgressMessage"]");
            </text>
            }

        });
    </script>
</body>



</html>
