
@{
    ViewBag.Title = "_MiddleCardPackOver";
}



<div class="col-md-6 cardcol buymiddlecontainer">
    <div class="col-md-12 cardcol">
        @if (Model.OIsCurrency == false)
        {
            <h2>Bestellübersicht</h2>
            <h3 style="color:darkorange">Sie wollen @Model.Quantity @Model.Pack.PackName kaufen</h3>
            using (Html.BeginForm())
            {
                <div class="col-md-offset-2 col-md-4">

                    <h5 style="color:bisque">Ihr Guthaben:<span class="spanpoverview"> @Model.CurrencyBalance</span>Coins</h5>
                    <h5 style="color:bisque">Gesamt: <span class="spanpoverview">@Model.Quantity x @Model.Pack.PackPrice = @(Model.Quantity * Model.Pack.PackPrice)</span>Stück</h5>
                    <h5 style="color:bisque">Guthaben nach Kauf:<span class="spanpoverview"> @(@Model.CurrencyBalance - Model.Quantity * Model.Pack.PackPrice)</span>Coins</h5>
                </div>
                <div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <input type="submit" value="Will es Haben" class="btn btn-default" />
                </div>
            }
        }
    </div>
</div>
