@model CardGame.Web.Models.UI.UserInfo

@{
    ViewBag.Title = "Passwordreset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@
<div class="col-md-3">
    @Html.Partial("_Advertisment")


    @*-----------------------------------------------------LEFTBAR Banner-------------------------------------- ---*@

    @Html.Partial("_BannerAd")

    @*-----------------------------------------------------LEFTBAR CURRENCY------------------------------------ --*@

    @Html.Partial("_Money")

</div>

@*-----------------------------------------------------MAINCOLUMN---------------------------------------------*@

<div class="col-md-6"style="margin-top:15em">
    <h3>Passwort zurücksetzen</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal"style="margin-bottom:5em;margin-top:5em">

            <div>
                <h5>
                    @Html.LabelFor(u => u.Email)

                @Html.EditorFor(u => u.Email)
            </h5>
                @Html.ValidationMessageFor(u => u.Email)

            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Passwort zurücksetzen" class="btn btn-default" style="width:20em" />
                </div>
            </div>
        </div>
    }

    <div>
        <h5><span class="borderbutton">@Html.ActionLink("Zurück", "Index", "Home")</span></h5>
    </div>
</div>
@*-----------------------------------------------------RIGHTBAR TOP---------------------------------------------*@
<div class="col-md-3">

    @Html.Partial("_RightTop")

    @*-----------------------------------------------------RIGHTBAR Middle------------------------------------------*@

    @Html.Partial("_RightMiddle")

    @*-----------------------------------------------------RIGHTBAR BOTTOM-----------------------------------------*@

    @Html.Partial("_RightBottom")
</div>
