@model CardGame.Web.Models.UI.Register
@{
    ViewBag.Title = "Register";
}

@*-------------------------------------------------------LEFTBAR AD----------------------------------------------*@
<div class="col-md-3">
     @Html.Partial("_Advertisment");

 @*-----------------------------------------------------LEFTBAR Banner-----------------------------------------*@

    @Html.Partial("_BannerAd")

@*----------------------------------------------------LEFTBAR CURRENCY---------------------------------------------*@
    @Html.Partial("_Money");
</div>
@*-----------------------------------------------------MAINCOLUMN---------------------------------------  ------*@
<div class="col col-md-6 cardcol">
    <h3>Registrierung</h3>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend></legend>
            <ul>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Firstname)
                        @Html.TextBoxFor(u => u.Firstname)
                    </p>
                </li>
                <li>
                    @Html.ValidationMessageFor(model => model.Firstname)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Lastname)
                        @Html.EditorFor(u => u.Lastname)
                    </p>
                    @Html.ValidationMessageFor(model => model.Lastname)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Address)
                        @Html.EditorFor(u => u.Address)
                    </p>
                    @Html.ValidationMessageFor(model => model.Address)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Zip)
                        @Html.EditorFor(u => u.Zip)
                    </p>
                    @Html.ValidationMessageFor(model => model.Zip)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.City)
                        @Html.EditorFor(u => u.City)
                    </p>
                    @Html.ValidationMessageFor(model => model.City)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Gamertag)
                        @Html.EditorFor(u => u.Gamertag)
                    </p>
                    @Html.ValidationMessageFor(model => model.Gamertag)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Email)
                        @Html.EditorFor(u => u.Email)
                    </p>
                    @Html.ValidationMessageFor(u => u.Email)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.Password)
                        @Html.PasswordFor(u => u.Password)
                    </p>
                    @Html.ValidationMessageFor(u => u.Password)
                </li>
                <li>
                    <p>
                        @Html.LabelFor(u => u.PasswordConfirmation)
                        @Html.PasswordFor(u => u.PasswordConfirmation)
                    </p>
                    @Html.ValidationMessageFor(u => u.PasswordConfirmation)
                </li>

                <li>
                    <a class="readAGB" href="@Url.Action("Contact", "Home")">@Html.LabelFor(m=>m.TermsAccepted)</a>
                    @Html.CheckBoxFor(m => m.TermsAccepted)
                    @Html.ValidationMessageFor(m => m.TermsAccepted)
                </li>
                <li><input type="submit" value="Registrieren" class="btn btn-default regButtonreg" /></li>
            </ul>

        </fieldset>
    }
    <br />
</div>
@*-----------------------------------------------------RIGHTBAR TOP---------------------------------------------*@
<div class="col-md-3">

      @Html.Partial("_RightTop")

@*-----------------------------------------------------RIGHTBAR Middle------------------------------------------*@

      @Html.Partial("_RightMiddle")

@*-----------------------------------------------------RIGHTBAR BOTTOM-----------------------------------------*@

      @Html.Partial("_RightBottom")

</div>

