<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllPacks</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="Webshop" content="Adminzone of the Webshop" />
    <meta name="description" content="Adminzone" />
</head>
<body>
    <header>

        <!-- NAVIGATION DEFAULT -->
        <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:5em;margin-left:5%;margin-right:5%; width:90%;margin-top:3em;margin-bottom:5em">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/images/CS_Logo.png" /></a>
                </div>

                <!-- NAVIGATION Collapse -->
                <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">


                        @if (User.IsInRole("admin"))
                        {
                            <li>
                                <a href="@Url.Action("Logout", "Account")">Log Out</a>
                            </li>
                                <li>
                                    <a href="@Url.Action("Index", "Home")">Home</a>
                                </li>

                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Adminzone <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index","Admin")">Pakete-Übersicht</a></li>
                                        <li><a href="@Url.Action("CardIndex","Admin")">Karten-Übersicht</a></li>
                                        <li><a href="@Url.Action("OrderIndex","Admin")">Order-Übersicht</a></li>
                                        <li><a href="@Url.Action("A_UserIndex","Admin")">User-Übersicht</a></li>
                                    </ul>
                                </li>
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>



    <div class="container maincontainer" style="background-image:none;font-size:larger;margin-left:2%; width:96%;min-height:60em">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div class="row">
            <!-- PARTIAL VIEW -->

       

                <div class="col-md-12"style="margin-bottom:-8em;margin-left:7em;margin-top:-5em">
                    @Html.Partial("Chart/_ChartOverview")
                </div>

                <div class="col-md-12">
                    @RenderBody()
                </div>

            </div>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                changeYear: true,
                shownOn: "button"
            }).css("display", "inline-block")
            .next("button").button({
                icons: { primary: "ui-icon-calender" },
                label: "Bitte ein Datum aussuchen",
                text: false
            });
        });
    </script>
    <script>
    $('body').on('click','.option li',function(){
    var i = $(this).parents('.select').attr('id');
    var v = $(this).children().text();
    var o = $(this).attr('id');
    $('#'+i+' .selected').attr('id',o);
    $('#'+i+' .selected').text(v);
    });
    </script>
</body>

</html>
