@{
    ViewBag.Title = "_Advertisment";
}



<div class="col col-md-12 adtopleft">

    @{
        if (ViewBag.Pic != null)
        {
            var base64 = Convert.ToBase64String(@ViewBag.Pic);
            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
            <img class="cardpic img-circle" src="@imgSrc" />
            <br style="height:0.5em" />
                <h3> @ViewBag.Firstname</h3>
                <h6>
                    Hier findest du alle deine Daten
                </h6>
            if (User.Identity.Name != "")
            {
                <a class="btn btn-default" href="@Url.Action("UProfile", "Profile")">Zum Profil</a>
            }

        }
        else
        {
            <br style="height:0.5em"/>
            <h3>Bearbeite deine Daten </h3>
            <h6>
                Hier findest du alle deine Daten
            </h6>
            if (User.Identity.Name != "")
            {
            <a class="btn btn-default" href="@Url.Action("UProfile", "Profile")">Zum Profil</a>
            }
            <br style="height:0.5em" />
            <br style="height:0.5em" />
            <h3>Stelle deine Decks zusammen </h3>
            <h6>
                Schau deine Sammlung durch , gestalte deine Winner-Decks!!
            </h6>
            if (User.Identity.Name != "")
            { 
            <a class="btn btn-default"style="margin-top:0.5em" href="@Url.Action("CardCollection", "Profile")">Zur Sammlung</a>
            }
        }

    }

   
</div>
