    
<!DOCTYPE html>
<html>
<!-- HEAD -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CloneShop</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    
    <meta name="Webshop" content="Webshop to buy CloneStone Cards" />
    <meta name="description" content="A Webshop to buy Clonestone Cards" />
</head>


<body>

    <div class="container maincontainer">
        <div class="row">
            <!-- PARTIAL VIEW -->
            @RenderBody()

        </div>

        <header>
            <div class="overlay"></div>
            <!-- NAVIGATION DEFAULT -->
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/images/CS_Logo.png" /></a>
                    </div>

                    <!-- NAVIGATION Collapse -->
                    <div class="collapse navbar-collapse dropup" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            @*-------------------------------------------------PLAYER--------------------------------------- ------*@
                            @if (User.IsInRole("player") || User.IsInRole("admin"))
                            {
                                //--HOME BUTTON   PLAYER--
                                <li>
                                    <a href="@Url.Action("Index", "Home")">Home</a>
                                </li>
                                //--SERVICES BUTTON PLAYER--
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Services
                                    </a>
                                    <ul class="dropdown-menu dropup">
                                        <li><a href="@Url.Action("About", "Home")">Über uns</a></li>
                                        <li><a href="@Url.Action("Contact", "Home")">Kontakt</a></li>
                                    </ul>
                                </li>
                                //--MEIN Profil BUTTON PLAYER--
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        @{if (Session["Firstname"] != null)
                                            {
                                                var firstname = (this.Session["Firstname"]) + "´s Profil"; @firstname

                                            }
                                        }
                                    </a>
                                    <ul class="dropdown-menu dropup">
                                        <li><a href="@Url.Action("UProfile","Profile")">Deine Daten</a></li>
                                        <li><a href="@Url.Action("Statistics", "Home")">Stats Webshop</a></li>
                                        <li><a href="@Url.Action("CardCollection", "Profile")">Deine Karten</a></li>
                                        <li><a href="@Url.Action("Deckoverview", "Profile")">Deine Decks</a></li>
                                    </ul>
                                </li>
                                            //--MEIN SHOP BUTTON PLAYER--
                                            <li>
                                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Shop
                                                </a>
                                                <ul class="dropdown-menu dropup">
                                                    <li><a href="@Url.Action("EnableCurrency", "CardPack")">Guthaben aufladen</a></li>
                                                    <li><a href="@Url.Action("DisableCurrency", "CardPack")">Karten kaufen</a></li>
                                                </ul>
                                            </li>
                                            //--DECKS BUTTON PLAYER--
                                            <li>
                                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Decks
                                                </a>
                                                <ul class="dropdown-menu dropup">
                                                    <li><a href="@Url.Action("Overview", "Card")">Kartenübersicht</a></li>
                                                    <li><a href="@Url.Action("Deckoverview", "Profile")">Decks</a></li>
                                                </ul>
                                            </li>
                                            //--LOGOUT BUTTON PLAYER--
                                            <li>
                                                <a href="@Url.Action("Logout", "Account")">Log Out</a>
                                            </li>
                                            //--NAVCOIN PLAYER--
                                            <li>
                                                <a class="navcointop" href="@Url.Action("EnableCurrency", "CardPack")">
                                                    <img class="navcointoppic" src="~/Content/images/Coins-PNG-Picture-180x180.png" />

                                                    @{if (Session["CurrencyBalance"] != null)
                                                        {
                                                            var currency = this.Session["CurrencyBalance"];
                                                            @currency
                                                        }
                                                    }
                                                </a>
                                            </li>
                                                        }
                                                        @*---------------------------------VISITOR----------------------------*@
                            else
                            {
                                <li><a href="@Url.Action("Login", "Account")">Login</a></li>


                                <li><a href="@Url.Action("Contact","Home")">Zu den AGB´s </a></li>


                                <li><a href="@Url.Action("Register", "Account")">Registrieren</a></li>
                            }

                            @*--------------------------------------ADMIN-------------------------------------*@
                            @if (User.IsInRole("admin"))
                            {

                                <li>
                                    <a class="dropdown-toggle dropup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Adminzone <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index","Admin")">Pakete-Übersicht</a></li>
                                        <li><a href="@Url.Action("CardIndex","Admin")">Karten-Übersicht</a></li>
                                        <li><a href="@Url.Action("OrderIndex","Admin")">Order-Übersicht</a></li>
                                        <li><a href="@Url.Action("UserIndex","Admin")">User-Übersicht</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav><!-- /navigation -->
        </header>
    </div>





    @*-----------------------------------------------------Scripts ---------------------------------------------*@

  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": true,
            "showDuration": "150",
            "hideDuration": "1000",
            "timeOut": "1500",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "swing",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $(document).ready(function () {

            @if (TempData["ErrorMessage"] != null)
            {
                <text>
            toastr.error("", "@TempData["ErrorMessage"]");
            </text>
            }

            @if (TempData["ConfirmMessage"] != null)
            {
                <text>
            toastr.success("", "@TempData["ConfirmMessage"]");
            </text>
            }
        });

        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 5000);
        }

    </script>
    <script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                changeYear: true,
                shownOn: "button"
            }).css("display", "inline-block")
            .next("button").button({
                icons: { primary: "ui-icon-calender" },
                label: "Bitte ein Datum aussuchen",
                text: false
            });
        });
    </script>
    <script>
    $('body').on('click','.option li',function(){
    var i = $(this).parents('.select').attr('id');
    var v = $(this).children().text();
    var o = $(this).attr('id');
    $('#'+i+' .selected').attr('id',o);
    $('#'+i+' .selected').text(v);
    });
    </script>
</body>
</html>
