@model CardGame.Web.Models.DB.Order
@{
    ViewBag.Title = "_MiddleCoinPackOver";
}





<div class="col-md-6 cardcol buymiddlecontainer">
    <div class="col-md-12 cardcol"id="index">
        @if (Model.Pack.IsMoney == true)
        {
            <h2>Bestellübersicht COINS</h2>
            <h3 style="color:darkorange">Sie wollen @Model.Quantity Stück @Model.Pack.PackName Paket kaufen</h3>
        <br />

            using (Html.BeginForm())
            {
                <fieldset>
                    <div class="col-md-12 middleOrder">
                        <h5 style="color:bisque">Ihr Guthaben:&nbsp;<span class="spanpoverview"> @Model.CurrencyBalance</span>&nbsp; Coins</h5>

                        <h5 style="color:bisque">Guthaben nach Kauf:&nbsp;<span class="spanpoverview">&nbsp; @(@Model.CurrencyBalance + Model.Quantity * Model.Pack.Worth)</span>&nbsp;Coins</h5>

                        <br />
                        <h5 style="color:bisque">
                            Umsatzsteuer:&nbsp;<span class="spanpoverview">
                                20% &nbsp;€ &nbsp; @((((Model.Quantity * Model.Pack.PackPrice) / 120) * 20).ToString("#.##"))
                            </span>&nbsp; Euro
                        </h5>
                        <hr />
                        <h3 style="color:darkorange; background-color:rgba(155, 61, 9, 0.76)">Gesamtbetrag:&nbsp;<span class="spanpoverview">€ &nbsp;@Model.Quantity x @Model.Pack.PackPrice = @(Model.Quantity * Model.Pack.PackPrice)</span>&nbsp;Euro</h3><br /><br />
                        <h3>Zahlungsarten</h3>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Kreditkarte</button><br/><br />
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Paypal</button>
                    </div>
                    <br />
                    





                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog"style="background-color:rgba(210, 180, 140, 0.30);">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content"style="background-color:transparent">
                                <div class="modal-header" style="background-color:rgba(189, 102, 49, 0.60);border-color:rgba(255, 215, 0, 0.35);border-style:ridge;border-width:0 0 0.50em;border-radius:1.0em;padding-right:1em;margin-bottom:1em;">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Kreditkarte</h4>
                                </div>
                                <div class="modal-body"style="background-image: url('../../Content/images/maxresdefault.jpg');background-position:center;">
                                    
                                  @Html.Partial("_Payment") 
                                </div>
                                <div class="modal-footer"style="background-color:rgba(189, 102, 49, 0.60);border-color:rgba(255, 215, 0, 0.35);border-style:ridge;border-width:0 0 0.50em;border-radius:1.0em;padding-right:1em;margin-bottom:1em;">
                                    <input type="submit" value="Bezahlen" class="btn btn-primary" />
                                </div>
                            </div>

                        </div>
                    </div>
                                 

                    <div class="col-md-push-6">
                        
                    </div>
                </fieldset>
            }
        }
    </div>
</div>
