
@using CardGame.Web.Models.DB



@model Order
<h9 style="color:aquamarine">HTTPS!</h9>
@using (Html.BeginForm())
{
<fieldset>
    <legend></legend>
    <h3 class="welcome">Kreditkartenzahlung</h3>

    <ul>
        <li>
            <p>
                @Html.LabelFor(model => model.CardPayment.CardCompany)
                @Html.TextBoxFor(m => m.CardPayment.CardCompany)
            </p>
        </li>
        <li>
            <p>
                @Html.LabelFor(model => model.CardPayment.CardHolder)
                @Html.TextBoxFor(m => m.CardPayment.CardHolder)
            </p>
        </li>
        <li>
            @Html.ValidationMessageFor(model => model.CardPayment.CardHolder)
        </li>
        <li>
            <p>
                @Html.LabelFor(m => m.CardPayment.CardNumber)
                @Html.TextBoxFor(m => m.CardPayment.CardNumber)
            </p>
            @Html.ValidationMessageFor(m => m.CardPayment.CardNumber)
        </li>
        <li>
            <p>
                @Html.LabelFor(m => m.CardPayment.CardSecurityNumber)
                @Html.TextBoxFor(m => m.CardPayment.CardSecurityNumber)
            </p>
            @Html.ValidationMessageFor(m => m.CardPayment.CardSecurityNumber)
        </li>
        <li>
            <p>
                @Html.LabelFor(m => m.CardPayment.CardExpiryYear)



          
            (yyyy/mm) @Html.TextBoxFor(m => m.CardPayment.CardExpiryYear, "{MM}")
             @Html.TextBoxFor(m => m.CardPayment.CardExpiryMonth, "{YYYY}")
        
            
                
            </p>
            @Html.ValidationMessageFor(m => m.CardPayment.CardExpiryMonth)
            @Html.ValidationMessageFor(m => m.CardPayment.CardExpiryMonth)
        </li>
    </ul>

</fieldset>
}
