
@using CardGame.Web.Models.DB



@model Order



<fieldset>
    <legend>Kreditkartenbezahlung</legend>

    <div class="control-group">
        @Html.LabelFor(m => m.CardPayment.CardCompany)
        <div class="controls">
            @Html.TextBoxFor(m => m.CardPayment.CardCompany)
            @Html.ValidationMessageFor(m => m.CardPayment.CardCompany)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.CardPayment.CardHolder)
        <div class="controls">
            @Html.TextBoxFor(m => m.CardPayment.CardHolder)
            @Html.ValidationMessageFor(m => m.CardPayment.CardHolder)
        </div>
    </div>



    <div class="control-group">
        @Html.LabelFor(m => m.CardPayment.CardExpiryDate)
        <div class="controls">
            @Html.TextBoxFor(m => m.CardPayment.CardExpiryDate, "{0:dd-MM-yyyy}", new { @class = "form-control jqueryui-marker-datepicker" })
            @Html.ValidationMessageFor(m => m.CardPayment.CardExpiryDate)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.CardPayment.CardNumber)
        <div class="controls">
            @Html.TextBoxFor(m => m.CardPayment.CardNumber)
            @Html.ValidationMessageFor(m => m.CardPayment.CardNumber)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.CardPayment.CardSecurityNumber)
        <div class="controls">
            @Html.TextBoxFor(m => m.CardPayment.CardSecurityNumber)
            @Html.ValidationMessageFor(m => m.CardPayment.CardSecurityNumber)
        </div>
    </div>
</fieldset>

