
@using CardGame.Web.Models.DB



@model Order

<fieldset>
    <h3 class="welcome">Kreditkartenzahlung</h3>

    <div class="row"style="margin-top:-0.4em">
        <div class="col-md-4 cardcol">
            <h5> @Html.LabelFor(model => model.CardPayment.CardCompany)</h5>
        </div>
        <div class="col-md-push-4 cardcol">
            <h5> @Html.TextBoxFor(m => m.CardPayment.CardCompany)</h5>
            <h5>@Html.ValidationMessageFor(model => model.CardPayment.CardCompany)</h5>
        </div>
    </div>


    <div class="row"style="margin-top:0.6em">
        <div class="col-md-4 cardcol">
            <h5> @Html.LabelFor(model => model.CardPayment.CardHolder)</h5>
      </div>
        <div class="col-md-push-4 cardcol">
            <h5>@Html.TextBoxFor(m => m.CardPayment.CardHolder)</h5>
            <h5>@Html.ValidationMessageFor(model => model.CardPayment.CardHolder)</h5>
        </div>
    </div>


    <div class="row"style="margin-top:0.6em">
        <div class="col-md-4 cardcol">
            <h5> @Html.LabelFor(m => m.CardPayment.CardExpiryDate)</h5>
        </div>
        <div class="col-md-push-4 cardcol">
            <h5>@Html.TextBoxFor(m => m.CardPayment.CardExpiryDate, "{0:dd-MM-yyyy}", new { @class = "form-control jqueryui-marker-datepicker" })</h5>
            <h5>@Html.ValidationMessageFor(m => m.CardPayment.CardExpiryDate)</h5>
        </div>
     </div>

    <div class="row"style="margin-top:0.6em">
        <div class="col-md-4 cardcol">
            <h5>@Html.LabelFor(m => m.CardPayment.CardNumber)</h5>
           </div>
        <div class="col-md-push-4 cardcol">
            <h5>@Html.TextBoxFor(m => m.CardPayment.CardNumber)</h5>
            <h5>@Html.ValidationMessageFor(m => m.CardPayment.CardNumber)</h5>
        </div>
    </div>

    <div class="row" style="margin-top:0.6em">
        <div class="col-md-4 cardcol">
            <h5> @Html.LabelFor(m => m.CardPayment.CardSecurityNumber)</h5>
        </div>
        <div class="col-md-push-4 cardcol">
            <h5>@Html.TextBoxFor(m => m.CardPayment.CardSecurityNumber)</h5>
            <h5>@Html.ValidationMessageFor(m => m.CardPayment.CardSecurityNumber)</h5>
</div>
       </div>
</fieldset>

