@model CardGame.Web.Models.Bill
@{
    ViewBag.Title = "FinalCoin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@
<div class="col-md-3">
    @Html.Partial("_Advertisment")


    @*-----------------------------------------------------LEFTBAR Banner-------------------------------------- ---*@

    @Html.Partial("_BannerAd")

    @*-----------------------------------------------------LEFTBAR CURRENCY------------------------------------ --*@

    @Html.Partial("_Money")

</div>

@*-----------------------------------------------------MAINCOLUMN---------------------------------------------*@


<div class="col col-md-6 cardcol " style="margin-left:2em; "id="index">
    <h3>Danke für den Einkauf</h3>
    <img src="~/Content/images/Cardpacks/animatedGif/Animiert1.gif"/>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-default" style="width:15em" data-toggle="modal" data-target="#myModal">Rechnung als Pdf</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color:darkgoldenrod;text-shadow:none; font-family:Xena;font-size:2em" class="modal-title">Deine Rechnung </h4>
                </div>
                <div class="modal-body" style="color:black;text-shadow:none;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:0.8em;text-align:left;padding-right:2em;">
                    
                    <p style="color:black;">Magical TeaParty Gmbh</p>
                    <p style="color:black;">Zipperstrasse 56 - 59</p>
                    <p style="color:black;"> 1110 Wien </p>
                    <p style="color:black;"> (+43)0664 / 1525725 </p>
                    <p style="color:black;"> magicaltea.party.at </p>
                    <div style="color:black;" >
                        <p style="color:black; text-align:right;">Datum:&nbsp;@Model.OrderDate</p> <br />
                        <p style="color:black;"> Rechnungsnummer:&nbsp;@Model.OrderNumber</p>
                    </div>
                    <br />
                    <p style="color:black;">
                        Liebe(r) &nbsp;@Model.Username,
                    </p>
                    <br />
                    <p style="color:black;"> Hier ist deine Bestellübersicht:</p><br />
                    <p style="color:black;"> Du hast vom Package &nbsp;@Model.Packtype,&nbsp; @Model.AmountOfPacks&nbsp;Stück bestellt,</>
                    <p style="color:black;"> Umsatzsteuer (20%):&nbsp;@Model.Tax&nbsp; Euro,</p>
                    <p style="color:black;font-weight:bold"> Gesamtbetrag ink.Mwst &nbsp;@Model.OrderAmount&nbsp; Euro,</><br /><br />
                    <p style="color:black;"> Bezahlt mit: @Model.Creditcard:</p><br />
                    <p style="color:black;"> Danke für deinen Einkauf,</p>
                    <p style="color:black;text-align:center"> Das Clonestone - Team </p><br/><br />
                    <p style="color:black;"> Bei Fragen und Reklamationen:</p>
                    <p style="color:black;">
                         Support:
                        <a href='mailto:Support@clonestone.at'> Support@clonestone.at
                      </a>
                       </p>
                    <p style="color:black;"> Marketing:<a href='mailto:Marketing@clonestone.at'style="color:black;"> Marketing@clonestone.com </a></p>
                    <p style="color:black;"> Gerichtsstand Wien </p>
                </div>
   
                <h6>@Html.ActionLink("Rechnung als Pdf", "DownloadPdf", Model)</h6>
                <button type="button" class="btn btn-default" style="width:15em" data-dismiss="modal">Schließen</button>
            </div>


        </div>
    </div>

</div>


@*-----------------------------------------------------RIGHTBAR TOP---------------------------------------------*@
<div class="col-md-3">

    @Html.Partial("_RightTop")

    @*-----------------------------------------------------RIGHTBAR Middle------------------------------------------*@

    @Html.Partial("_RightMiddle")

    @*-----------------------------------------------------RIGHTBAR BOTTOM-----------------------------------------*@

    @Html.Partial("_RightBottom")
</div>

