
@{
    ViewBag.Title = "NotEnoughBalance";
}



@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@


<div class="col-md-3">
    @Html.Partial("_Advertisment")

@*-----------------------------------------------------LEFTBAR Banner-----------------------------------------*@

    @Html.Partial("_BannerAd")

@*-----------------------------------------------------LEFTBAR CURRENCY---------------------------------------*@

    @Html.Partial("_Money");
</div>

@*-----------------------------------------------MAINCOLUMN---------------------------------------------------*@


<div class="col-md-6 cardcol buymiddlecontainer" id="index">
    <div class="col-md-12 cardcol">
        <h3> Sie haben nicht genug Guthaben</h3>
        <br />

        <h3><a href="@Url.Action("EnableCurrency", "CardPack")">Get Coins</a></h3>
    </div>
</div>

@*--------------------------------------------------------CardTableRight--------------------------------------*@
<div class="col-md-3">

    @Html.Partial("_RightTop")

@*-----------------------------------------------CardTableRight-----------------------------------------------*@

    @Html.Partial("_RightMiddle")

@*----------------------------------------------CardTableRight-----------------------------------------------*@

    @Html.Partial("_RightBottom")

</div>
