@model CardGame.Web.Models.PacksListViewModel


@{
    ViewBag.Title = "PackOverview";
}


@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@
<div class="col-md-3">
    @Html.Partial("_Advertisment")

    @*-----------------------------------------------------LEFTBAR Banner-----------------------------------------*@

    @Html.Partial("_BannerAd")

    @*-----------------------------------------------------LEFTBAR CURRENCY-----------------------------------------*@

    @Html.Partial("_Money");

</div>
@*-----------------------------------------------------MAINCOLUMN---------------------------------------  ------*@

<div class="col-md-6 cardcol"style="max-height:74em;overflow:hidden;overflow-y:scroll">
    <div class="card-deck-wrapper col-md-12 cardcol">
        <div class="card-deck packcol packdeck " id="packoverview">
            @foreach (var pack in Model.Packs)
            {
                <div class="card col-md-3 packcard" style="margin-left:1em;height:36em">
                    @if (pack.IsMoney != true)
                    {

                        if (pack.Pic != null)
                        {
                            <img class="cardpic" src="@Url.Action("GetImage","CardPack",new {id=pack.IdPack})" />
                        }
                        else
                        {
                            <img class="cardpic" src="~/Content/images/Cardpacks/5.png" />
                        }

                        <h3 class="packname">@Html.DisplayFor(c => pack.PackName)</h3>
                        if (pack.NumCards != 0)
                        {
                            <h7 class="card-header head">@Html.DisplayFor(c => pack.NumCards)<span>&nbsp;Karten</span></h7>
                        }
                        else
                        {
                            <h6 class="card-header head"style="margin-top:-1em">@Html.DisplayFor(c => pack.Flavor)</h6>
                        }
                        <p class="price">@Html.DisplayFor(c => pack.PackPrice)<br /><span class="break">Coins</span></p>
                            <h5 style="margin-top:-1em; margin-left:4em "> @Html.ActionLink("Kaufen", "BuyCardPack", new { id = pack.IdPack })</h5>
                    }
                    else
                    {
                        if (pack.Pic !=null)
                        {
                            var base64 = Convert.ToBase64String(@pack.Pic);
                            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            <img class="cardpic" src="@imgSrc" style="min-height:12em" />
                        }
                        else
                        {
                            <img class="cardpic" src="~/Content/images/Coins-PNG-Picture-180x180.png" alt="Coin-Picture" />
                        }

                            <h3 class="packname">@Html.DisplayFor(c => pack.PackName)</h3>
                            <h6 class="card-header head">@Html.DisplayFor(c => pack.Flavor)</h6>
                            <p class="price">€@Html.DisplayFor(c => pack.PackPrice)<br /><span class="break">Coins</span></p>
                            <h5 style="margin-top:2em;">@Html.ActionLink("Aufladen", "BuyCardPack", new { id = pack.IdPack })</h5>
                    }
                </div>
            }
        </div>

    </div>
    <div class="col-md-12">
        <p class="col-md-11" id="paginator" style="max-height:5em; margin-top:1em; ">@Html.PageLinks(Model.PagingInfo, x => Url.Action("PackOverview", new { page = x }))</p>
    </div>
        </div>

        @*-----------------------------------------------------RIGHTBAR TOP-------------------------------------------*@
                <div class="col-md-3">
                    <div class="col col-md-12 ">
                        <h3>Coins einlösen</h3>
                        <p>
                            Lege dir Cardpacks zu und statte deine Kartendecks aus
                        </p>
                        <a href="/CardPack/DisableCurrency" class="btn btn-default buttonleftnav">Buy Cardpacks</a>
                    </div>
                    @*-----------------------------------------------------RIGHTBAR Middle------------------------------------------*@
                    <div class="col col-md-12">
                        <h3>Kaufe Coins</h3>
                        <p>und du kannst damit Cardpacks erstehen</p>
                        <a href="/CardPack/EnableCurrency" class="btn btn-default buttonleftnav">Kaufe Coins </a>
                    </div>
                    @*-------------------------------------------------RIGHTBAR BOTTOM-----------------------------------------*@

                    @Html.Partial("_RightTop")
                </div>
