@using CardGame.Web.Models

@model IEnumerable<Card>

@{
    ViewBag.Title = "ShowGeneratedCards";
}

@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@


<div class="col-md-3">
    @Html.Partial("_Advertisment")

@*-----------------------------------------------------LEFTBAR Banner-----------------------------------------*@

    @Html.Partial("_BannerAd")

@*-----------------------------------------------------LEFTBAR CURRENCY---------------------------------------*@

    @Html.Partial("_Money");
</div>
@*-----------------------------------------------------MAINCOLUMN---------------------------------------------*@

@Html.Partial("_CardList")

@*-----------------------------------------------------CardTableRight-----------------------------------------*@
<div class="col-md-3">

    @Html.Partial("_RightTop")

@*-----------------------------------------------------CardTableRight----------------------------------------*@

    @Html.Partial("_CardTable")

</div>


